/* pokemonComponent's private CSS styles */
body{
  margin: 100%;
  padding: 100%;
}
.pokemon {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    /*width: 15em;*/
  }
  h2{
    font-size: 10vw;
    color: #decbff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  select{
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #a5007b;
    color:#decbff ;
  }
  .pere{
    background-color: #e700ad;
    text-align: center;
  }
  .pokemon li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .pokemon li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .pokemon li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .pokemon li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .pokemon .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }