<!-- <h1>App Module</h1>

<p>App.component.html</p>
<p>le router-outlet est place en dessous, et nous pouvons constater que lors de la navigation a un autre composant, le
   contenu de celui-ci s'affiche en dessous</p> -->
   <h1>Angular Router</h1>
<nav>
   <a routerLink="/test-observer" routerLinkActive="active">Test Observer</a>
   <br>
   <a routerLink="/meteo" routerLinkActive="active">Meteo</a>
</nav>

<router-outlet></router-outlet>

<!-- <p>App receiving data to transfer: {{ transferData }}</p> -->